<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue option API 購物車</title>
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <!-- bootstrap.css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
    <!-- style.css -->
    <link rel="stylesheet" href="./css/style.css">
</head>

<body id="app">
    <!-- navbar -->
    <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="/">
            Vue option API 購物車
        </a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a id="navLinkItem" class="nav-link" href="#cartModal" data-toggle="modal">
                        <i class="fas fa-shopping-cart"></i> 
                        購物車
                        <div id="cartNumber" v-show="cartItemCount >= 0">{{ cartItemCount}}</div>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- navbar end -->

    <!-- header -->
    <header id="header" class="jumbotron">
        <div class="container">
            <h1>Vue option API 購物車</h1>
            <p>使用 Vue option API 製作購物車</p>
        </div>
    </header>
    <!-- header end -->

    <!-- productSection -->
    <section id="productSection" class="py-5">
        <div class="container">
            <h1 class="text-center mb-5">產品列表</h1>
            <div id="productRow" class="d-flex flex-row flex-wrap mb-3">
                <div class="col-md-4 mb-5" v-for="item in productList" :key="item.id">
                    <div class="card">
                        <img :src="item.img" class="card-img-top">
                        <form :data-product-id="item.id" class="add-item-form card-body">
                            <h5 class="card-title">
                                {{item.title}}
                            </h5>
                            <p class="card-text">
                                商品價格: {{item.price}}
                            </p>
                            <div class="form-group d-flex">
                                <label>購買數量</label>
                                <div class="plusMinus ml-2">
                                    <i class="fa-solid fa-minus" @click="item.qty > 0 ? item.qty-- : null"></i>
                                    <span class="mx-1 p-2 border">{{item.qty}}</span>
                                    <i class="fa-solid fa-plus" @click="item.qty ++"></i>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary" type="button" @click="addItem(item.id, item.qty)">
                                    <i class="fas fa-cart-plus"></i>
                                    加入購物車
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- productSection end -->

    <!-- footer -->
    <footer class="py-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 text-center">
                    <p class="mb-1">Vue option API Shopping Cart</p>
                    <p class="mb-0">2020 &copy;</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->

    <!-- modal -->
    <!-- Full screen modal -->
    <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModal" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> 
                        <i class="fas fa-shopping-cart"></i> 購物車
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table table-border">
                        <thead>
                            <tr>
                                <th>產品名稱</th>
                                <th class="text-right">單價</th>
                                <th class="text-right">數量</th>
                                <th class="text-right">總計</th>
                            </tr>
                        </thead>
                        <tbody id="cartTableBody">
                            <tr v-if="productData.length > 0" v-for="(item, index) in productData" :key="item.id">
                                <td>
                                    <button :data-index="productData.id" class="btn btn-danger delete-btn" @click="removeFromCart(index)">
                                        <i class="fas fa-times"></i>
                                    </button>
                                    {{item.title}}
                                </td>
                                <td class="text-right">TWD$ {{item.price}}</td>
                                <td class="text-right">{{item.qty}}</td>
                                <td class="text-right">TWD${{item.priceAmount}}</td>
                            </tr>          
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td class="text-right">TWD${{calculateTotal()}}</td>
                            </tr>
                        </tbody>
                        
                        <tfoot id="cartTableFoot">
                            
                        </tfoot>
                    </table>
                </div>
                <div class="modal-footer">
                    <button id="clearCartBtn" type="button" class="btn btn-danger" @click="clearCart()">
                        <i class="fas fa-trash-alt"></i> 清空購物車
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        <i class="fas fa-times"></i> 關閉
                    </button>
                </div>
            </div>
        </div>
    <!-- modal -->
    <!-- jquery.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <!-- bootstrap.js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <!-- cart.js -->

    <script src="./js/vender/vue.global.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    productList :[
                        {
                            id: '1',
                            title: 'Chair',
                            price: 385,
                            qty: parseInt("0"),                            
                            img: 'https://picsum.photos/id/100/1200/600',
                        },
                        {
                            id: '2',
                            title: 'Mouse',
                            price: 973,
                            qty: parseInt("0"),
                            img: 'https://picsum.photos/id/101/1200/600',
                        },
                        {
                            id: '3',
                            title: 'Computer',
                            price: 125,
                            qty: parseInt("0"),
                            img: 'https://picsum.photos/id/102/1200/600',
                        },
                        {
                            id: '4',
                            title: 'Keyboard',
                            price: 220,
                            qty: parseInt("0"),
                            img: 'https://picsum.photos/id/103/1200/600',
                        },
                        {
                            id: '5',
                            title: 'Table',
                            price: 360,
                            qty: parseInt("0"),
                            img: 'https://picsum.photos/id/104/1200/600',
                        },
                        {
                            id: '6',
                            title: 'Sleek Fresh Bike',
                            price: 360,
                            qty: parseInt("0"),
                            img: 'https://picsum.photos/id/109/1200/600',
                        },
                        {
                            id: '7',
                            title: 'Gorgeous Fresh Soap',
                            price: 400,
                            qty: parseInt("0"),
                            img: 'https://picsum.photos/id/106/1200/600',
                        },
                        {
                            id: '8',
                            title: 'Handmade Soft Pants',
                            price: 450,
                            qty: parseInt("0"),
                            img: 'https://picsum.photos/id/107/1200/600',
                        },
                        {
                            id: '9',
                            title: 'Intelligent Metal Keyboard',
                            price: 520,
                            qty: parseInt("0"),
                            img: 'https://picsum.photos/id/108/1200/600',
                        }
                    ],

                    // 購物車資料
                    productData: [],

                    // 購物車商品數量
                    
                }
            },
            computed: {

                // TODO: 購物車數量渲染
                cartItemCount() {
                    let count = 0;
                    for (let i = 0; i < this.productData.length; i++) {
                        count += this.productData[i].qty;
                    }
                    return count;
                }

                
            },  
            mounted() {
                // 購物車數量渲染
                this.$watch('cartItems', () => {
                    this.cartItemCount = this.getCartItemCount();
                }, { deep: true });
            },
            methods: {
                calculateTotal() {
                    let total = 0;
                    for (let i = 0; i < this.productData.length; i++) {
                    const item = this.productData[i];
                       total += item.qty * item.price;
                    }
                    this.total = total;
                    return total;
                },

                // 傳入商品id與數量並新增商品至購物車
                addItem(id, qty) {
                    const product = this.productList.find(product => product.id === id);

                    if(qty > 0){

                        let itemIndex = -1;
                        for (let i = 0; i < this.productData.length; i++) {
                            if(this.productData[i].id === id){
                                itemIndex = i;
                                break;
                            }
                        }
                        if(itemIndex === -1){
                            // 淺拷貝
                            const item = {
                                ...product, 
                                qty: qty, 
                                priceAmount: product.price * qty,
                                createTime: new Date().getTime()
                            };
                            this.productData.push(item);
                                
                            console.log("[品項]", this.productData);
                        }else{
                            this.productData[itemIndex].qty += qty;
                            this.productData[itemIndex].priceAmount = product.price * this.productData[itemIndex].qty;
                        }
                        // 避免傳參考影響原資料
                        JSON.parse(JSON.stringify(this.productData));
                        console.log(this.productData);
                    }
                },
                

                // 清空購物車
                clearCart() {
                    this.productData.splice(0, this.productData.length);
                    this.productData = [];
                },

                // 刪除單個商品
                removeFromCart(index) {
                    this.productData.splice(index, 1);
                },

            },
        })
        const vm = app.mount("#app");
    </script>

</body>


</html>